.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* max-width: 100vw; */
    /* padding: 2rem 30rem; */
    margin: auto;
    background: rgba(240, 239, 239, 0.878);
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.main_container h1{
    font-size: 7rem;
    padding: 0 0 1rem;
}
.main_container h3{
    color:grey;
    font-size: 2rem;
    width:50rem;
}
.social img{
    object-fit: cover;
    width: 3.4rem;
    height: 3.4rem;
    margin: 0 .5rem;
    border-radius: 30px;
}
.main_img img{
    margin: 2rem;
    width: 30rem;
    height: 30rem;
}

@media screen and (max-width:768px){
    .main_container{
        flex-direction:column;
        padding: 5rem;
    }
    .main_container h1{
        text-align: center;
    }
    .main_container h3{
        width: 90%;
        margin:auto;
    }
    .social{
        display: flex;
        justify-content: center;
        /* background:red; */
        width: 100%;
        margin:auto;
    }
    .social img{
        width: 5rem;
        height: 5rem;
    }
}